body {
  background: url('../images/px_by_Gre3g_@2X.png');
  font-family: 'Homemade Apple', cursive;
}

.back-img {
  margin-top: 25px;
  margin-bottom: 25px;
  background: url('../images/lined_paper_@2X.png');
  -webkit-box-shadow: 3px 3px 5px 2px #222;
  -moz-box-shadow:    3px 3px 5px 2px #222;
  box-shadow:         3px 3px 5px 2px #222;
}

.input-lg {
  line-height: 2.5;
}

h1 {
  text-align: center;
}

h2 {
  display: inline-block;
}

form {
  margin-bottom: 15px;
}

article {
  padding-bottom: 10px;
}

.fa-times-circle, .fa-check-circle {
  color: #6E6373;
}

.fa-times-circle:hover, .fa-check-circle:hover {
  color: #201326;
}

.fa-check-circle {
  padding-right: 25px;
  cursor: pointer;
}

.form-group, .hover-hide {
  display: none;
}

.show {
  display: block;
}

.dbl-click:hover {
  cursor: pointer;
}

.fa-times-circle {
  text-align: right;
}

.delete {
  display: inline-block;
  float: right;
}
