body {
  background: url('../images/lined_paper_@2X.png'); }

h1 {
  text-align: center; }

h2 {
  display: inline-block; }

.fa-times-circle {
  margin-left: 50px; }

.form-group, .hover-hide {
  display: none; }

.show {
  display: block; }

.dbl-click:hover {
  cursor: pointer; }
