body {
  background: url('../images/px_by_Gre3g_@2X.png'); }

.back-img {
  margin-top: 25px;
  margin-bottom: 25px;
  background: url('../images/lined_paper_@2X.png');
  border-radius: 5%; }

h1 {
  text-align: center; }

h2 {
  display: inline-block; }

.fa-times-circle {
  margin-left: 50px; }

.form-group, .hover-hide {
  display: none; }

.show {
  display: block; }

.dbl-click:hover {
  cursor: pointer; }
