<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feb 4 HW</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script type="html/template" id="todoTmpl">

  <article data-itemid="<%= _id %>">
  <h2 class="dbl-click"><%= item %></h2>
  <a href="" class="deleteItem"><h2><i class="fa fa-times-circle"></h2></i></a>
  <form class="editItem" action="">
  <div class="form-group">
  <input type="text" class="form-control input-lg" name="editItem" value="<%= item %>">
  </div>
  </form>
  </article>

  </script>
</head>
<body>
  <div class="col-md-6 col-md-offset-3 back-img">
  <header class="">
    <h1>List</h1>
  </header>

  <div class="container">
    <div class="row">
      <section class="col-md-6">

        <form id="createItem" action="">
          <div class="form-create">
            <input type="text" class="form-field input-lg" name="createItem" placeholder="Type list item here">
          </div>
        </form>

        <article>

        </article>

      </section>
    </div>
  </div>
</div>







<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>

<script src="js/main.js"></script>
</body>
</html>
